:root {
  /* === LIGHT THEME === */

  --color-primary: #fa5c2a; /* Orange */
  --color-secondary: #090909; /* Cod Gray */
  --color-primary-light: #DC7B5B;

  --color-bg: #ffffff;
  --color-surface: rgb(240, 237, 235);

  --color-text: #090909; /* Cod Gray */
  --color-text-muted: #555555;
}

/* Dark theme override */
.dark {
  /* === DARK THEME === */

  --color-primary: #fa5c2a; /* Orange */
  --color-secondary: #090909; /* Cod Gray */
  --color-primary-light: #DC7B5B;

  --color-bg: #ffffff;
  --color-surface: rgb(240, 237, 235);

  --color-text: #090909; /* Cod Gray */
  --color-text-muted: #555555;
}

.filter-field {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-border);
  border-radius: 5em;
  background-color: white;
  font-size: 1.2rem;
  color: var(--color-text-primary); /* optional for text */
}

.filter-field::placeholder {
  color: var(--color-placeholder);
}

.filter-field:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--color-primary);
}



.skeleton-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  padding-bottom: 6rem; /* space for fixed pagination */
}

.skeleton-card {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

/* Fake content lines */
.skeleton-line {
  height: 12px;
  border-radius: 6px;
  background: linear-gradient(
    90deg,
    #eeeeee 25%,
    #f5f5f5 50%,
    #eeeeee 75%
  );
  background-size: 200% 100%;
  animation: shimmer 1.2s infinite linear;
}

/* Different widths for realism */
.skeleton-line.short {
  width: 40%;
}

.skeleton-line.medium {
  width: 70%;
}

.skeleton-line.long {
  width: 100%;
  height: 16px;
}

/* Shimmer animation */
@keyframes shimmer {
  from {
    background-position: 200% 0;
  }
  to {
    background-position: -200% 0;
  }
}
