/* Modern CSS Reset */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margins */
* {
  margin: 0;
}

/* Improve text rendering */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* Remove list styles */
ul, ol {
  list-style: none;
  padding: 0;
}

/* Remove default button styles */
button {
  border: none;
  background: none;
  cursor: pointer;
}

/* Images */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* Forms */
input, button, textarea, select {
  font: inherit;
}

:root {
  /* === LIGHT THEME === */

  --color-primary: #FA5C2A;     /* Orange */
  --color-secondary: #090909;   /* Cod Gray */

  --color-bg: #FFFFFF;
  --color-surface: rgb(240, 237, 235);

  --color-text: #090909;        /* Cod Gray */
  --color-text-muted: #555555;
}

/* Dark theme override */
.dark {
  /* === DARK THEME === */

  --color-primary: #FA5C2A;     
  --color-secondary: #090909;

  --color-bg: #090909;          /* Cod Gray as background */
  --color-surface: #121212;

  --color-text: #FFFFFF;
  --color-text-muted: #AAAAAA;
}





@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');

/* Quasi-config: override fonts */
@layer base {
  body {
    font-family: 'Varela', 'ui-sans-serif', system-ui;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Varela', 'ui-sans-serif', system-ui;
  }
}