@import "./styles/reset.css";
@import "./styles/variables.css";
@import "./styles/base.css";
@import "./styles/layout.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Varela&display=swap");










/* Misc */
@media (max-width: 640px) {
  .mobile-remove {
    display: none;
  }
}
